<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="text-align: center; margin-top: 60px">
		<form action="/">
			<input type="submit" value="Restrictive Search">
		</form>
	</div>
<form action="/search" style="text-align: center">
    <div class="input2" style="margin-top: 20px">
		<input type="text" name="term1">
		<select name="operator1">
			<option value="con">∨</option>
			<option value="dis">∧</option>
		</select>
		<input type="text" name="term2">
		<select name="operator2">
			<option value="con">∨</option>
			<option value="dis">∧</option>
		</select>
		<input type="text" name="term3">
	</div>
	<br><br>
	<input type="hidden" name="mode" value="True">
		<input type="submit" value="搜索">
</form>
    <div style="padding-left: 400px; padding-right: 400px; margin-top: 80px">
        说明：<br>
        在输入栏输入关键词，以及关键词之间的关系("与"和"或")。<br>
        有多个运算符时，按照从左到右计算<br>
        显示最相关的20条结果
    </div>


</body>
</html>