<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
    <div class="input" style="text-align: center; margin-top: 100px">
    <form action="/search" method="get">
        <p>
        <input type="text" name="keywords1">
        <select name="property1">
			<option value="o">任意</option>
  			<option value ="v">动词</option>
  			<option value ="n">名词</option>
  			<option value="a">形容词</option>
  			<option value="d">副词</option>
		</select>
        </p>

        <p>
        <input type="text" name="keywords2">
        <select name="property2">
			<option value="o">任意</option>
  			<option value ="v">动词</option>
  			<option value ="n">名词</option>
  			<option value="a">形容词</option>
  			<option value="d">副词</option>
		</select>
        </p>

        <p>
        <input type="text" name="keywords3">
        <select name="property3">
			<option value="o">任意</option>
  			<option value ="v">动词</option>
  			<option value ="n">名词</option>
  			<option value="a">形容词</option>
  			<option value="d">副词</option>
        </select>
        </p>

        <select name="restriction">
  			<option value ="0">任意</option>
  			<option value ="1">相邻</option>
  			<option value="2">顺序</option>
  			<option value="3">顺序且相邻</option>
		</select>

        <br><br>
		<input type="submit" value="搜索">
	</form>
    </div>
    <div style="padding-left: 400px; padding-right: 400px; margin-top: 80px">
        说明：<br>
        在输入栏输入关键词，并可选择词性。在下方选择词语之间位置限制。<br>
        “相邻”表示关键词必须相邻，“顺序”表示关键词必须按填写顺序出现。<br>
        显示最相关的20条结果
    </div>
</body>
</html>